<section class="py-8 px-6 md:p-4 ">
  <section>
    <p class=" hidden md:block text-[#43465499] font-bold gap-2 font-sans text-xs uppercase">
      PROJECTS > Project Alpha > Tasks ><span class="text-dark-gray"> New Task</span>
    </p>

    <h2 class="text-4xl font-semibold mt-4">Create New Task</h2>
    <p class="text-grayText text-body-md pt-1">
      Initialize a new work item within the Architectural Workspace ecosystem.
    </p>
  </section>

  <div class="md:bg-white rounded-lg md:pt-2 md:pb-4 mt-8">
    <form class="md:p-8 " [formGroup]="createTaskForm" (ngSubmit)="createTask()">
     
     <!------------title--------->
        <div class="">
        <label class="text-dark-gray text-label-sm font-bold pl-1 pt-2" for="title">
          TITLE <span class="text-error">*</span></label
        ><br />
        <input
          formControlName="title"
          type="text"
          placeholder="e.g., Finalize structural schematics"
          id="title"
          class="text-[#737685] bg-surface-highest border-0 w-full font-medium rounded-lg md:rounded-sm py-3.5 px-4 mt-2"
        />
             @if ( createTaskForm.get('title')?.touched) {
        <div class="text-error">
          @if(createTaskForm.get('title')?.errors?.['required']){ <p>
            Title is required</p>}
          @if(createTaskForm.hasError('startsWithSpace')){ <p>Epic title mustn't start with space</p>}

          @else if(createTaskForm.get('title')?.errors?.['pattern']){ <p>Epic title must be at least 3 characters and maximum 100 characters.</p>}
        </div>
        }
      </div>

      <div class="md:grid md:grid-cols-2 mt-6 md:mt-8 gap-8">
        <!------------Status--------->
        <div>
          <label for="status" class="text-dark-gray text-[11px] font-bold uppercase">Status <span class="text-error">*</span></label>
         <select
            formControlName="status"
            name="status"
            id="status"
            class="text-dark-gray py-3 pr-10 bg-surface-highest border-0 w-full font-normal rounded-lg md:rounded-sm px-4 mt-4"
          >
            <!-- <option value=" " selected >TO DO</option> -->
            @for (s of status; track s) {
              <option value="{{ s }}">{{ s.replaceAll('_',' ') }}</option>
            }
          </select>
        </div>

        <!----------------assignee---------->
        <div class="hidden md:block">
          <label for="cars" class="text-dark-gray text-[11px] font-bold uppercase">Assignee</label>

          <select
            formControlName="assignee_id"
            name="assignee_id"
            id="assignee_id"
            class="text-dark-gray py-3 pr-10 bg-surface-highest border-0 w-full font-normal rounded-lg md:rounded-sm px-4 mt-2"
          >
            <option value="">Select Team Member</option>
            @for (m of members(); track m) {
              <option value="{{ m.user_id }}">{{ m.metadata.name }}</option>
            }
          </select>
        </div>
      </div>
<!----------------epic--------->
      <div class="mt-6 md:mt-8">
        <label for="epic_id" class="text-dark-gray text-[11px] font-bold uppercase">Epic</label>

        <select
          formControlName="epic_id"
          name="epic_id"
          id="epic_id"
          class="text-dark-gray py-3 pr-10 bg-surface-highest border-0 w-full font-normal rounded-lg md:rounded-sm px-4 mt-4"
        >
          <option value="">Select Epic Link</option>
          @for (e of epics(); track e) {
            <option value="{{ e.id }}"><span class="pr-3">{{e.epic_id }}  </span>    @if(e.title.length===100||e.title.length>100){ {{ e.title.slice(0,20) }}
             <span>...</span>
            }@else{  {{e.title}}   }            </option>
          }
        </select>
      </div>

        <!----------------assignee mobile---------->
      <div class="mt-6 md:hidden">
          <label for="cars" class="text-dark-gray text-[11px] font-bold uppercase">Assignee</label>

          <select
            formControlName="assignee_id"
            name="assignee_id"
            id="assignee_id"
            class="text-dark-gray py-3 pr-10 bg-surface-highest border-0 w-full font-normal rounded-lg md:rounded-sm px-4 mt-2"
          >
            <option value="">Select Team Member</option>
            @for (m of members(); track m) {
              <option value="{{ m.user_id }}">{{ m.metadata.name }}</option>
            }
          </select>
        </div>
<!----------------date--------->

      <div class="mt-6 md:mt-8">
        <label for="start-date" class="text-dark-gray text-[11px] font-bold uppercase">Due Date</label>
        <input
        formControlName="due_date"
          type="date"
          id="start-date"
          name="trip-start"
          [min]="today"
          class="text-dark-gray bg-surface-highest border-0 w-full font-normal rounded-lg md:rounded-sm py-3 px-4 mt-2"
        />
      </div>

      <div class="mt-6 md:mt-8 mb-38.75 md:mb-0">
        <label class="text-dark-gray text-label-sm font-bold uppercase" for="description ">Description</label>
        <textarea
          formControlName="description"
          type="text"
          placeholder="Provide detailed context for this task... "
          id="description"
          class="h-35 w-full text-[#737685] bg-surface-highest border-0 font-normal rounded-lg md:rounded-sm pt-3 px-4 mt-2"
        ></textarea
        ><br />
      </div>

      
      <div class="hidden md:flex place-self-end mt-8">
        <button type="button" class="py-3 px-6 text-graay font-bold  cursor-pointer" (click)="goBack()" >Back</button>
        <button [disabled]="!createTaskForm.valid" (click)="createTask()" class="flex bg-linear-to-r from-primary to-primary-container items-center justify-center  text-[14px] font-bold rounded-sm text-white cursor-pointer  py-3 px-6 " >Create Task</button>

      </div>
      <!-----------mobile--->
      <div class="mobileDiv bg-white fixed md:hidden z-99999 bottom-0 left-0 w-full p-6 m-0">
        <button [disabled]="!createTaskForm.valid" (click)="createTask()" class="flex w-full bg-linear-to-r from-primary to-primary-container items-center justify-center  text-[14px] font-bold rounded-sm text-white cursor-pointer  py-3 px-6 " >Create Task</button>
    <button type="button" class="py-3 px-6 text-graay font-bold w-full cursor-pointer" (click)="goBack()" >Back</button>

      </div>

    </form>
  </div>
</section>