<!-----------navbar section----------->
<div class="h-20">
    <div class="px-10 h-full content-center">
        <img src="../../../../../assets/logo.png" alt="taskly">
       
    </div>
  </div>


<section class="md:w-xl w-full md:bg-white  md:sectionShadow justify-self-center rounded-lg px-6 md:p-12 md:mb-48">
  <div class="justify-items-center ">
   
    <div class="md:text-center w-full md:mb-5 mt-8 mb-10">
      <h2 class="text-darkGraay text-3xl font-semibold">Create a New Password</h2>
      <p class="text-graay text-sm  mt-1 hidden md:block ">Create a new, strong password to secure your workstation
access.</p>
     
    </div>

    <!--------------------register Form----------------->
    <form [formGroup]="resestPassForm" (ngSubmit)="signUp(resestPassForm)" class="w-full pb-4">
      
       
      <div class=" justify-between gap-4 ">
        <div>

           <div class="mt-6 relative">
          <label class="text-graay text-label-sm font-bold pl-1 " for="password">NEW PASSWORD</label><br />
          <input formControlName="password"  [type]="showPassord? 'text':'password'" placeholder="Password" id="password" class="text-[#737685] bg-surface-low border-0 w-full font-normal rounded-lg md:rounded-sm py-4.5 md:py-3.5 px-4 mt-2"  />
     
          <button (click)="toggleShowPassword()">
       <img  [src]="!showPassord? ' ../../../../../assets/eyeIcon.png':'../../../../../assets/eyeIcon2.png'" alt="" class="absolute bottom-4 right-4 hover:cursor-pointer" >
      </button>
     
    </div>
        <!-------error handle------>
        @if (resestPassForm.get('password')?.errors && resestPassForm.get('password')?.touched) {
        <div class="text-error">
          @if(resestPassForm.get('password')?.errors?.['required']){ <p>password is required</p>}
          @if(resestPassForm.get('password')?.errors?.['pattern']){ <p>Password is invalid</p>}
        </div>
        }

        </div>
       
        <div>
        <div class="mt-5">
          <label class="text-graay text-label-sm font-bold pl-1 mt-6" for="password">CONFIRM PASSWORD</label><br />
          <input formControlName="confirmedPassword" type="password" placeholder="Repeat your password" id="password" class="text-[#737685] bg-surface-low border-0 w-full font-normal rounded-lg md:rounded-sm py-4.5 md:py-3.5 px-4 mt-2" />
        </div>
  <!-------error handle------>
        @if (resestPassForm.get('confirmedPassword')?.errors && resestPassForm.get('confirmedPassword')?.touched) {
        <div class="text-error">
          @if(resestPassForm.get('confirmedPassword')?.errors?.['required']){ <p>password is required</p>
          }
        
        </div>
        <div class="text-error">
          @if(resestPassForm.get('confirmedPassword')?.value!== resestPassForm.get('password')?.value){ <p>password dose not match </p>
          }
        </div>
        }
</div>
      </div>
      <!---------------password validation-------------->
        <div class="  bg-surface-low/50 p-5 rounded-md my-5 text-[#434654] text-xs text-label-sm ">
            <p class="text-label-sm text-[#34654] font-bold  border-b pb-2  border-b-[#C3C6D633]">Security Requirements</p> 
            
            <div class="flex justify-between mt-4">
            <div class="basis-1/2  ">       

                <div>
           <label for="chars" class="relative pl-6 text-[13px]  ">
            8-64 characters
          <input type="checkbox"  [checked]="(password?.value || '').length >= 8" id="chars" class=" absolute w-0 h-0  " disabled > 
            <span class="checkMark absolute top-0.5 left-0  w-3.75 h-3.75 bg-transparent border border-[#737685] rounded-2xl"></span>
           </label><br></div>
<!--------------------------------------->
<div class="my-3">
            <label for="digit" class="relative pl-6 text-[13px] ">
     Lowercase letter
          <input type="checkbox"  [checked]="/[a-z]/.test(password?.value || '')" id="digit" class=" absolute w-0 h-0  " disabled > 
            <span class="checkMark absolute top-0.5 left-0 w-3.75 h-3.75 bg-transparent border border-[#737685] rounded-2xl"></span>
           </label></div>
<!--------------------------------------------------->
          <div>
            <label for="special" class="relative pl-6 text-[13px]">
    Special character
          <input type="checkbox"  [checked]="/[!@#$%^&*]/.test(password?.value || '')" id="special" class=" absolute w-0 h-0  " disabled > 
            <span class="checkMark absolute top-0.5 left-0  w-3.75 h-3.75 bg-transparent border border-[#737685] rounded-2xl"></span>
           </label> 
           </div>
        
        </div>

           <div class="basis-1/2">
            <div>
           <label for="special" class="relative pl-6 text-[13px]">
    Uppercase letter
          <input type="checkbox"  [checked]="/[A-Z]/.test(password?.value || '')" id="special" class=" absolute w-0 h-0  " disabled > 
            <span class="checkMark absolute top-0.5 left-0  w-3.75 h-3.75 bg-transparent border border-[#737685] rounded-2xl"></span>
           </label> 
        </div>
        <!------------------------------->
        <div class="mt-3">
        <label for="special" class="relative pl-6 text-[13px] ">
    One digit
          <input type="checkbox"  [checked]="/[!@#$%^&*]/.test(password?.value || '')" id="special" class=" absolute w-0 h-0  " disabled > 
            <span class="checkMark absolute top-0.5 left-0 w-3.75 h-3.75 bg-transparent border border-[#737685] rounded-2xl"></span>
           </label>
        
        </div>
            </div>
            </div>
      </div>
      <button type="submit" class="w-full  bg-linear-to-r from-primary to-primary-container text-white rounded-lg md:rounded-sm text-[16px] font-semibold py-3 cursor-pointer mt-6">Update Password</button>
    </form>

   <a routerLink="/login" class="flex text-primary justify-center  font-medium pl-1 cursor-pointer">Back to sign in</a>
  </div>
</section>