li:first{
    box-shadow: 0px 1px 2px 0px #0000000D;

}
section{
    /* width: 300px; */
    height: 100%;
     transition: all 1s   ;
    -webkit-transition: all 1s   ;
    -moz-transition: all 1s   ;
    -ms-transition: all 1s   ;
    -o-transition: all 1s   ;
}
/* a:hover, .active{
    background-color: #0092471A;
    border-left:4px solid #009247
} */
 .active{
     background-color: #0092471A;
    border-left:4px solid #009247
 }
