<div class="lg:pt-5 p-4 bg-dark-gray/20 fixed inset-0 z-999 ">
  <div class="bg-white p-6 lg:p-8 lg:m-auto lg:w-2xl max-h-[95vh] overflow-y-auto rounded-lg">
    <div class="flex justify-between">
      <div class="flex gap-2 items-center">
        <img src="../../../../../assets/epicT.png" alt="" class="w-5 h-3.5 hidden lg:block" />
        <p class="text-primary lg:text-dark-gray/60 font-bold text-[10px] lg:text-[12px]">{{epic()?.epic_id}}</p>
      </div>
      <div class="flex gap-2 items-center">
        <img src="../../../../../assets/copy.png" alt="" class="w-3.75 h-1.75" />
        <p class="text-grayText text-[12px] lg:text-body-md font-medium pr-6 lg:p-0">Copy link</p>
        <button (click)="closeModal()" class="cursor-pointer">
        <img src="../../../../../assets/close.png" alt="" class=" w-3.5 h-3.5" />

        </button> 
      </div>
    </div>

    <div class="mt-4 ">
      <form [formGroup]="EpicForm">
        <div class="border-b border-b-light-gray/15 mb-8">
          <input
          (blur)="updateTitle()"
            formControlName="title"
            type="text"
            value="Modern Architecture Overhaul"
            id="title"
            class="text-dark-gray text-[16px] lg:text-xl w-full font-semibold lg:font-bold rounded-lg md:rounded-xl p-3 "
          />

           <!--------------error handle-------->
        @if ( EpicForm.get('title')?.touched) {
        <div class="text-error">
          @if(EpicForm.get('title')?.errors?.['required']){ <p>
            Title is required</p>}
          @if(EpicForm.hasError('startsWithSpace')){ <p>Epic title mustn't start with space</p>}

          @else if(EpicForm.get('title')?.errors?.['pattern']){ <p>Epic title must be at least 3 characters and maximum 100 characters.</p>}
        </div>
        }
        </div>


        <div class="mt- lg:mt-8">

          <label for="description" class=" lg:hidden uppercase text-label-sm font-bold text-graay  "> Description</label>
         
          <textarea
          (blur)="updateDescription()"
            formControlName="description"
            type="text"
            placeholder="No Description Provided"
           id="description"
            class="h-35 w-full text-dark-gray text-[16px] font-normal rounded-lg md:rounded-xl p-4"
          ></textarea
          >
        </div>

        <div class="grid grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mt-8">
          <!-----------ceatedBy---->
          <div class="grid gap-2">
            <p class="text-graay lg:text-dark-gray/40 font-bold text-[10px] uppercase">Created By</p>
            <div class="flex gap-2">
              <a
                class="w-6 h-6 lg:w-7 lg:h-7 md:w-7 md:h-7 content-center text-center bg-[#DAE2FF] lg:bg-primary text-[10px] text-[#001848] lg:text-white font-bold rounded-xl"
              >
                {{ getInitials(epic()?.created_by?.name) }}
            </a>
              <p class="text-dark-gray  font-medium md:font-semibold text-[12px] md:text-body-md">
               {{epic()?.created_by?.name}}
              </p>
            </div>
          </div>

          <!-----------Assignee---->
          <div class="grid gap-2">
            <p class="text-graay lg:text-dark-gray/40 font-bold text-[10px] uppercase">Assignee</p>
            <div class="relative"> 
              <img src="../../../../../assets/assignee.png" alt="" class="absolute top-3.5 left-2 bg-[#E0E8FF] rounded-xl w-3 h-3 " />

            <select (change)="updateAssinee()" formControlName="assignee_id"
              name="cars"
              id="cars"
              class="text-dark-gray p-2 lg:py-3 lg:pr-10 h-10 w-full font-normal text-[12px] rounded-lg md:rounded-lg px-8 "
            >
            <option [ngValue]="null" class="">Unassigned</option>

            @if(!epic()?.assignee?.name){
            <option value="null" class="hidden lg:block">no assignee</option>
            }
              @for(m of members(); track m){
              <option value="{{m.user_id}}"  
              >
                <div
                  class="w-7 h-7 md:w-6 md:h-6 md:bg-[#CDDDFF] md:text-[#51617E] text-[14px] font-bold content-center text-center rounded-xl"
                >
                  {{ getInitials(m.metadata.name) }}
                </div>
                <p class="text-dark-gray font-medium md:font-medium text-[12px] md:text-body-md">
                 {{m.metadata.name}}
                </p>
              </option>

              }
            </select>
              <img src="../../../../../assets/BArrow.png" alt="" class="absolute top-4 right-4 " />
          
          </div>
          </div>

          <!-----------deadline---->
          <div class="grid gap-2">
            <p class="text-graay lg:text-dark-gray/40 font-bold text-[10px] uppercase">Deadline</p>
            <div class="relative">
              <img src="../../../../../assets/calender.png" alt="" class="absolute top-3.5 left-2" />

              <input
              (change)="updateDeadline()"
                  formControlName="deadline"
                type="date"
                id="start-date"
                name="trip-start"
                [min]="today"
                class="text-dark-gray lg:w-full  h-10 text-[12px] font-normal rounded-lg md:rounded-sm p-2 px-6"
              />
              <img src="../../../../../assets/BArrow.png" alt="" class="absolute top-4 right-7 " />

            </div>
          </div>

          <!-----------ceatedAt---->
          <div class="lg:grid gap-2">
            <p class="text-graay lg:text-dark-gray/40 font-bold text-[10px] uppercase pb-1.5">Created at</p>
            <div class="flex gap-2 items-center">
              <img src="../../../../../assets/calender.png" alt="" class="w-3 h-3.75" />
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="mt-8">
      <div class="flex justify-between">
        <h4>Tasks</h4>
        <p class="lg:hidden text-[10px] text-grayText font-bold py-0.5 px-2 bg-[#E0E8FF] rounded-xl content-center">{{tasks().length}} Tasks</p>
        <p class="text-primary hidden lg:block">+ Add Task </p>
      </div>

      <div class="mt-6 lg:border lg:border-light-gray/15 rounded-lg">
        <ul class="">
          @for(t of tasks(); track t){
          <li class="flex justify-between p-4 border mb-3 lg:border-none border-light-gray/15 rounded-lg lg:rounded-none border-b-light-gray/15 ">
            <div>
              <h2 class="text-dark-gray text-[16px] font-medium">{{t.title}}</h2>
              <div class="flex gap-1.5 mt-3">
              <a
                class="w-6 h-6 lg:w-5 lg:h-5 md:w-5 md:h-5 content-center text-center bg-[#DAE2FF] lg:bg-primary text-[8px] text-[#001848] lg:text-white font-bold rounded-xl"
              >
                {{ getInitials(t.assignee.name) }}
            </a>
              <p class="text-dark-gray/40  font-medium md:font-semibold text-[12px] md:text-body-md">
               {{t.assignee.name}}
              </p>
            </div>
            </div>

            <div class="flex gap-1.5 lg:block justify-items-end self-end">
              <h5 class=" hidden lg:block text-[10px] text-dark-gray/40 font-bold">Due date</h5>
        <img src="../../../../../assets/calender.png" alt="" class="self-center lg:hidden w-2.5 h-2.75" />

              <p class="text-dark-gray/70 text-[12px]  font-medium">{{t.due_date| date: 'dd MMM yyyy'}}</p>

            </div>
          </li>}
        
        </ul>
           <div class="bg-white flex justify-center gap-2 lg:hidden py-4 rounded-lg border-2 border-light-gray/30 border-dashed">
          
            <img src="../../../../../assets/pluss.png" alt="" />
          
          <p class="text-[12px] text-grayText/60 font-bold uppercase">ADD new task</p>
          </div>
      </div>

      @if(tasks().length===0){
      <div class="mt-6 bg-surface-low border-2  border-light-gray/30 border-dashed rounded-lg p-12 ">
          <div class="place-items-center">
            <div class="bg-surface-highest w-12 h-12 rounded-lg content-center ">
                  <img src="../../../../../assets/settings.png" alt="" class="w-5 h-3.5 place-self-center " />

            </div>

            <p class="pt-4 text-graay lg:text-dark-gray text-body-md lg:text-[16px] font-medium text-center">No tasks have been added to this epic yet</p>
           
           <div>
            <button class="text-white bg-linear-to-r from-primary to-primary-container px-4 py-2 lg:py-2.5 lg:px-6 mt-4 rounded-xs">+ Add Task</button>

           </div>
          </div>

      </div>}
    </div>
  </div>
</div>
