<section class="p-4 lg:p-8 relative">
  <section >
    <p class="hidden lg:block text-[#43465499] font-bold gap-2 font-sans text-xs">
      PROJECTS > PR0JECT NAME > <span class="text-primary">MEMBERS</span>
    </p>
    <!----------modal------------->
    @if (showModal()) {
   <app-add-member (closee)="closeModale()"></app-add-member>
    }

    <div class="md:flex md:justify-between place-content-center">
      <h2 class=" text-center text-[32px] md:text-4xl font-semibold mt-8  md:mt-4">Project Members</h2>
      <div class="content-end ">
        <button
          (click)=" showModal.set(true)"
          class="hidden md:flex gap-2 bg-linear-to-r from-primary to-primary-container text-white px-6 py-3 content-center cursor-pointer rounded-xs"
        >
          <img src="../../../../../assets/membersI.png" alt="" class="w-4.5 h-3.25 self-center" />
          Invite members
      </button>
      </div>
    </div>
  </section>

  <section class="mb-10">
    @if (isLoading()) {
      <!-------skeleton--------->
      <div class="bg-white rounded-lg mt-12">
        <!-- Header -->
        <!-- <div class="grid grid-cols-5 gap-4 p-4 border-b font-semibold">
    <div>Task</div>
    <div>Assignee</div>
    <div>Status</div>
    <div>Priority</div>
    <div>Due Date</div>
  </div> -->

        <!-- Skeleton Rows -->
        @for (item of [1, 2, 3, 4, 5, 6]; track item) {
          <div class="grid grid-cols-5 gap-4 p-4 animate-pulse">
            <!-- <div class="h-4 bg-surface-low rounded w-3/4"></div> -->

            <div class="flex items-center gap-2">
              <div class="w-8 h-8 rounded-xl bg-surface-low"></div>
              <div class="h-4 bg-surface-low rounded w-48"></div>
            </div>

            <div class="h-4 w-44 rounded-full bg-surface-low"></div>

            <div class="h-6 w-20 rounded-full bg-surface-low"></div>

            <div class="h-6 bg-surface-low rounded-xs w-6"></div>
          </div>
        }
      </div>
    } @else if (members()) {
      <!-------------desktop view---------->
      <div class="hidden md:block place-self-center pt-12 lg:w-196.25">
        <table class="p-1 rounded-lg lg:w-full ">
          <thead class="bg-[#E0E8FF4D]">
            <tr >
              <th class="py-5 px-13  text-left text-grayText text-label-sm font-bold">MEMBER</th>
              <th class="py-5 px-13 text-left text-grayText text-label-sm font-bold">ROLE</th>
              <th class="py-5 px-13  text-right text-grayText text-label-sm font-bold">ACTIONS</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            @for (m of members(); track m) {
              <tr>
                <td class="px-8 py-5">
                  <div class="flex gap-4 items-center">
                    <div
                      class=" relative w-12 h-12 bg-[#DAE2FF] text-primary text-[16px] font-bold content-center text-center rounded-xl"
                    >
                      {{ getInitials(m.metadata.name) }}
                  </div>
                    <div class="">
                      <h4 class="text-dark-gray font-semibold text-body-md">
                        {{ m.metadata.name }}
                      </h4>
                      <p class="text-grayText text-[12px]">{{ m.metadata.email }}</p>
                    </div>
                  </div>
                </td>
                <td class="px-8 py-8.5">
                  <div
                    class="bg-primary-container text-white py-1 px-3 rounded-xl w-fit text-[10px] font-bold uppercase"
                  >
                    {{ m.role }}
                  </div>
                </td>
                <td class="px-8 py-8.5 justify-items-end">
                  <img src="../../../../../assets/actions.png" alt="" />
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <!-------------mobile view----------->
      <div class='md:hidden'>
        <ul>
          @for(m of members(); track m){
          <li class="bg-white p-4 rounded-lg mt-3">
            <div class="flex  justify-between">
               <div class="flex gap-4 items-center">
                    <button
                      class=" relative w-12 h-12 bg-[#DAE2FF] text-primary text-[16px] font-bold content-center text-center rounded-xl"
                    >
                      {{ getInitials(m.metadata.name) }}
                    </button>
                    <div class="">
                      <h4 class="text-dark-gray font-semibold text-body-md">
                        {{ m.metadata.name }}
                      </h4>
                      <p class="text-grayText text-[11px] md:text-[12px]">{{ m.metadata.email }}</p>
                    </div>
                  </div>

                  <div class="" >
                    <p class="text-[10px] text-grayText font-bold py-0.5 px-2 bg-surface-highest uppercase">viewer</p>
                  <img class="float-right pt-2 " src="../../../../../assets/actions.png" alt="" />

                  </div>
            </div>
          </li>
        }
        </ul>
      </div>
    }
  </section>
  <!-- fixed right-8 bottom-20 md:hidden w-14 h-14 bg-primary text-white text-[16px] font-bold content-center text-center rounded-xl -->
  <button
    (click)=" showModal.set(true)"
    class="hover:cursor-pointer fixed right-8 w-10 h-10 bottom-20 md:hidden p-3 bg-primary rounded-[10px]"
  >
    <img src="../../../../../assets/membersI.png" alt="" class="w-4.5 h-3.25 self-center" />
  </button>
</section>

@if (errorDisplayed()) {
  <section class="p-10.75">
    <div class="justify-items-center">
      <img src="../../../../../assets/noConnect.png" alt="" />
      <div class="w-md text-center my-10.75">
        <h2 class="font-semibold text-dark-gray text-4xl">Something went wrong</h2>
        <p class="text-grayText text-[18px]">
          We're having trouble retrieving your projects right now. Please try again in a moment.
        </p>
      </div>
      <button
        routerLink="dashboard/project/add"
        class="hidden md:block bg-linear-to-r from-primary to-primary-container text-white px-8 py-4 content-center cursor-pointer rounded-xs font-bold"
      >
        Retry Connection
      </button>
    </div>
  </section>
}
