/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import 'tailwindcss';

@theme {
  --color-primary: #003d9b;
  --color-primary-container: #0052CC;
  --color-surface-highest: #D7E2FF;
  --color-surface-low: #F1F3FF; 
  --color-background: #F9F9FF;
  --color-dark-gray: #041B3C; 
  --color-graay: #4F5F7B; 
  --color-light-gray: #C3C6D6; 
  --color-error: #BA1A1A;
  --color-success: #82F9BE;
  --color-warning: #FFB300;  
  --color-grayText: #434654;

  --font-sans: "Inter", sans-serif;

    --text-display-lg: 56px;
  --text-display-lg--line-height: 56px;
  --text-display-lg--letter-spacing: -2.8px;

  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 40px;
  --text-headline-lg--letter-spacing: 0px;

  --text-title-md: 18px;
  --text-title-md--line-height: 27px;
  --text-title-md--letter-spacing: 0px;

  --text-body-md: 14px;
  --text-body-md--line-height: 22.75px;
  --text-body-md--letter-spacing: 0px;

  --text-label-sm: 11px;
  --text-label-sm--line-height: 16.5px;
  --text-label-sm--letter-spacing: 1.1px;
}

/* aliceblue */
body{
    background-color: #F9F9FF;
    
} 


.mat-datepicker-content-container {
  background-color: #ffffff !important;
  border: 1px solid #FFFFFF66 !important;
  backdrop-filter: blur(20px)!important

}
 
.mat-calendar-table {
  /* background-color: #ffffff !important; */
} 
.mat-mdc-datepicker-content{
  /* background-color: #fff !important ; */
}
.mat-calendar {
  /* background-color: #ffffff !important; */
}
.mat-date-range-picker-actions{
  align-items: center;
 
}

.mat-mdc-datepicker-content {
  background-color: white !important;
}

.mat-date-range-picker-actions {
  display: flex;
  align-items: center;
  /* gap: 12px; */
  padding: 12px 16px !important;
  border-top: 1px solid #E5E7EB;
  /* background-color: #E5E7EB; */
}

/* .cancel-btn {
  background: transparent;
  border: none;
  color: #041B3C;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  cursor: pointer;
} */

/* .apply-btn {
  background: #003D9B;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  cursor: pointer;
} */

.apply-btn:hover {
  background: #002f7a;
}