<!-----------navbar section----------->
<section class="h-20">
    <div class="px-10 h-full content-center">
        <img src="../../../../../assets/logo.png" alt="taskly">
       
    </div>
</section>

<!-----------Form section----------->
<section class="w-85 md:w-md  bg-white justify-self-center rounded-lg md:p-12 md:pt-20 pb-12 p-8 mx-6 md:my-[60.88px]">
  <div class="justify-items-center ">
   
    <div class="text-center md:text-start md:w-full mb-5 ">
      <div class="bg-surface-highest md:hidden rounded-xl p-2 mb-6 w-12 h-12 content-center place-items-center justify-self-center">
      <img src="../../../../../assets/lock.png" alt="" class=" w-5 h-5 ">
    </div>

      <h2 class="text-darkGraay text-2xl md:text-headline-lg font-semibold">Forgot password?</h2>
      <p class="text-[#434654] text-body-md  mt-1 pb-8">No worries, we'll send you reset instructions.</p>
    </div>

    <!---[formGroup]="forgotPassForm"-----------------forogt-password Form----------------->
    <form [formGroup]="forgotPassForm"  (ngSubmit)="submitForm(forgotPassForm)" class="w-full pb-4">
   
      <div >
        <label class="text-graay text-label-sm font-bold pl-1  " for="email">Email address</label><br />
        <input formControlName="email" type="email" placeholder="yourname@company.com" id="email" class="text-[#737685] bg-surface-highest border border-light-gray/30 w-full font-normal rounded-lg md:rounded-sm py-3.25 px-4 mt-2" />
      
      </div>

    <!-------error handle------>
        @if (forgotPassForm.get('email')?.errors && forgotPassForm.get('email')?.touched) {
        <div class="text-error">
          @if(forgotPassForm.get('email')?.errors?.['required']){ <p>email is required</p>}
          @if(forgotPassForm.get('email')?.errors?.['email']){ <p>Check Your email address</p>}
        </div>
        }

          
      <button type="submit" class="w-full flex bg-linear-to-r from-primary to-primary-container items-center justify-center mt-6 text-white rounded-lg md:rounded-sm text-[16px] font-semibold py-3 cursor-pointer">Send Reset Link
      </button>

            <a routerLink="/login" class="flex text-primary justify-center items-center gap-1 mt-6 cursor-pointer font-medium "> 
        <img src="../../../../../assets/backArrow.png" alt="" class="w-3.5 h-3.5 ">
              Back to log in</a>

    </form>

    @if(display()){
    <p class="pt-44 md:pt-8 hidden md:block text-[#434654] text-body-md ">Didn't receive the email? </p>
    <button class="bg-surface-low flex text-[#737685] justify-center items-center gap-2 mt-3 rounded w-full h-12 "> 
        <img src="../../../../../assets/clock.png" alt="" class="w-4.5 h-5.25 ">
      Resend in 5:00</button>
    }
  </div>
</section>