<section class="p-8">
  <h3 class="text-[30px] text-dark-gray font-bold">Weekly Planner</h3>
  <p class="text-grayText text-[16px]">Manage your deadlines and track team velocity.</p>

  <!------------filters---->
  <div class="flex justify-between mt-8 bg-surface-low p-4 rounded-lg items-center">
    <div class="text-[14px] text-dark-gray font-bold flex gap-3">
     <button
        type="button"
        (click)="getPreviousWeek()"
        class="w-8 h-8 flex items-center justify-center
               rounded-full hover:bg-gray-100
               cursor-pointer">

        &lt;

    </button>
      <button (click)="rangePicker.open()" class="content-center text-[14px] font-bold text-dark-gray">{{ startDate | date:'MMM d' }}-  {{ endDate | date:'MMM d, y' }}</button>
     
<mat-form-field
  appearance="outline"
  class="absolute w-0 h-0 opacity-0 overflow-hidden"
>
  <mat-date-range-input
    [formGroup]="filterTask"
    [rangePicker]="rangePicker"
  >
    <input
      matStartDate
      formControlName="startDate"
      placeholder="Start date"
      (dateChange)="onChangeStartDate($event.value)"
    />

    <input
      matEndDate
      formControlName="endDate"
      placeholder="End date"
      [min]="startDate"
      [max]="maxEndDate"
      (dateChange)="onChangeEndDate($event.value)"
    />
  </mat-date-range-input>

  <mat-date-range-picker #rangePicker>
   <mat-date-range-picker-actions>

    <button
      matDateRangePickerCancel
      type="button"
      class="cancel-btn" (click)="cancelRange()">
      Cancel
    </button>

    <button
      matDateRangePickerApply
      type="button"
      class="apply-btn"
      (click)="applyRange()">
      Apply Range
    </button>

  </mat-date-range-picker-actions>
  </mat-date-range-picker>
</mat-form-field>

    <button
        type="button"
        (click)="getNextWeek()"
        class="w-8 h-8 flex items-center justify-center
               rounded-full hover:bg-gray-100
               cursor-pointer">

        &gt;

    </button>
</div>
      
  
    <div >
      <form [formGroup]="filterTask"  class="flex gap-4 text-center">
      <div class="relative">
        <select
         formControlName="projectId"
      (change)="onFilterChange()"
          name="projects"
          id="projects"
          class="bg-[#FFFFFF] rounded-xs py-2 pl-4 pr-10 text-[14px] font-medium text-dark-gray cursor-pointer"
        >
          <option [ngValue]="null" selected>All Projects</option>
          @for (p of projects(); track p.id) {
            <option [value]="p.id">{{ p.name }}</option>
          }
        </select>
        <img
          src="../../../../../assets/BArrow.png"
          alt=""
          class="absolute top-4.5 right-2 w-2 h-1"
        />
      </div>
      <div class="relative">
        <select
         formControlName="status"
          (change)="onFilterChange()"
          name="status"
          id="status"
          class="bg-[#FFFFFF] rounded-xs py-2 pl-4 pr-10 text-[14px] font-medium text-dark-gray cursor-pointer"
        >
          <option [ngValue]="null" selected>All Statuses</option>
          @for (s of status; track s) {
            <option value="{{ s }}">{{ s.replaceAll('_', ' ') }}</option>
          }
        </select>
        <img
          src="../../../../../assets/BArrow.png"
          alt=""
          class="absolute top-4.5 right-2 w-2 h-1"
        />
      </div>
</form>

    </div>
  </div>

  <!----------tasks cards------->
  <div class="mt-8 grid grid-cols-3 gap-6">
    <div class="p-6 rounded-lg bg-white flex justify-between">
      <div>
        <h4 class="uppercase text-[#041B3C99] text-[12px] font-bold">total tasks</h4>
        <p class="text-[30px] font-bold text-dark-gray">{{ tasksStates()?.total_tasks }}</p>
      </div>
      <img src="../../../../../assets/tasksC.png" alt="" class="w-12 h-12" />
    </div>

    <div class="p-6 rounded-lg bg-white flex justify-between">
      <div>
        <h4 class="uppercase text-[#041B3C99] text-[12px] font-bold">COMPLETED TASKS</h4>
        <p class="text-[30px] font-bold text-dark-gray">{{ tasksStates()?.done_tasks }}</p>
      </div>
      <img src="../../../../../assets/tasksD.png" alt="" class="w-12 h-12" />
    </div>

    <div class="p-6 rounded-lg bg-white flex justify-between">
      <div>
        <h4 class="uppercase text-[#041B3C99] text-[12px] font-bold">OVERDUE TASKS</h4>
        <p class="text-[30px] font-bold text-error">{{ tasksStates()?.overdue_tasks }}</p>
      </div>
      <img src="../../../../../assets/tasksE.png" alt="" class="w-12 h-12" />
    </div>
  </div>

  <!-------------Days------------>
  <div class="grid grid-cols-7 gap-3 h-105 mt-8">
    @for (d of tasksStates()?.daily; track d) {
      <div class="bg-white p-4 rounded-lg">
        <p class="text-[12px] font-bold text-[#041B3C66]">{{getDayName(d.day)}}</p>
        <h3 class="font-bold text-[18px] text-dark-gray">{{ d.day | date: 'dd MMM' }}</h3>
        @if (getStatusKeys(d.statuses).length === 0) {
          <div class="opacity-30 justify-items-center h-full content-center">
            <img src="../../../../../assets/noTasks.png" alt="" class="w-7 h-7 mb-2" />

            <p class="uppercase text-[10px] font-bold">no Tasks</p>
          </div>
        } @else {
          @for (s of getStatusKeys(d.statuses); track s) {
            <div
              class="w-full mt-2 flex justify-between p-2 rounded-xs mb-2"
              [class.bg-[#0052CC33]]="s === 'IN_PROGRESS'"
              [class.bg-[#0068441A]]="s === 'DONE'"
              [class.bg-[#FFDAD61A]]="s === 'BLOCKED'"
              [class.bg-[#C3C6D61A]]="s === 'TO_DO'"
              [class.border-l-4]="s === 'IN_PROGRESS'"
              [class.border-l-primary]="s === 'IN_PROGRESS'"
              [class.text-[#003D9B]]="s === 'IN_PROGRESS'"
              [class.text-[#004E32]]="s === 'DONE'"
            >
              <p class="text-[11px] font-bold">{{ s.replaceAll('_', ' ') }}</p>
              <p class="text-[12px] text-dark-gray font-bold">{{ d.statuses[s] }}</p>
            </div>
          }
        }
      </div>
    }
  </div>

  <!--------------charts-------------->
  <div class="mt-8 grid grid-cols-2 gap-8">
    <div class="bg-white p-8">
      <h5 class="text-[18px] text-dark-gray font-bold">Tasks by Status</h5>

      <div class="flex items-center gap-10 mt-10">
        <div class="w-45 h-45">
          <canvas #doughnutCanvas></canvas>
        </div>

        <!-- Custom Legend -->
        <div class="flex-1">
          @for (item of chartItems; track item.label) {
            <div class="mb-4 flex gap-3 items-center">
              <span class="w-3 h-3 rounded-full mt-1 shrink-0" [style.background]="item.color">
              </span>
              <div class="w-full">
                <div class="flex justify-between mb-1">
                  <p class="text-[12px] font-bold text-[#041B3CB2] capitalize">
                    {{ item.label }}
                  </p>

                  <span class="text-[12px] font-bold">
                    {{ item.value }}
                  </span>
                </div>

                <div class="w-full h-2 bg-gray-200 rounded-full">
                  <div
                    class="h-2 rounded-full"
                    [style.width.%]="item.percentage"
                    [style.background-color]="item.color"
                  ></div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="bg-white p-8 pb-13">
      <h5 class="text-[18px] text-dark-gray font-bold">All Projects</h5>
      <ul class="mt-10">
        @for (t of tasks(); track t) {
          <li class="flex justify-between mb-4">
            <p class="text-[#041B3CB2] text-[12px] font-bold">{{ t.project_name }}</p>
            <span class="text-dark-gray text-[12px] font-bold">{{ t.tasks_count }} Tasks </span>
          </li>
        }
      </ul>
    </div>
  </div>
</section>
