<section  class="p-4 md:p-10 ">

<section class="  ">
     
    <p class="text-[#43465499]hidden md:flex font-semibold gap-2 font-sans text-xs"><span>PROJECTS</span><span> ></span> <span>Project Alpha</span><span> ></span><span> Epics</span><span> ></span> <span class="text-dark-gray">New Epic</span></p>

    <h2 class="text-[24px] md:text-4xl font-bold mt-8">Create New Epic</h2>
    <p class="text-grayText w-[462.5px] text-[14px] md:text-[16px] pt-2">Define a major project phase or high-level milestone to group
related tasks and track architectural progress.</p>

</section>

<div class="md:bg-white rounded-lg pt-2 pb-4 mt-8" >
    <form class="p-8"  [formGroup]="createEpicForm" (ngSubmit)="createEpic()">

         <div class="grid grid-cols-4">
        <label class="text-graay text-label-sm font-bold pl-1 pt-2  " for="title"> TITLE <span class='text-error'>*</span></label>
       <div class="col-span-3">
        <input formControlName="title" type="text" placeholder="e.g. Structural Foundation Phase" id="title" class=" text-[#737685] bg-surface-highest border-0 w-full font-normal rounded-lg md:rounded-sm py-3.5 px-4 mt-2 " /><br>
     <!--------------error handle-------->
        @if ( createEpicForm.get('title')?.touched) {
        <div class="text-error">
          @if(createEpicForm.get('title')?.errors?.['required']){ <p>
            Title is required</p>}
          @if(createEpicForm.hasError('startsWithSpace')){ <p>Epic title mustn't start with space</p>}

          @else if(createEpicForm.get('title')?.errors?.['pattern']){ <p>Epic title must be at least 3 characters and maximum 100 characters.</p>}
        </div>
        }</div>  
      </div>
      <!-- /\s+/g -->

       <div class="grid grid-cols-4   mt-8">
        <div class="  ">
        <label class="text-graay text-label-sm font-bold   " for="description">Description</label>
            <p class="text-[#43465480]   text-[10px] ">Optional</p>
        </div>
         <div class="col-span-3">
        <textarea formControlName="description" type="text" placeholder="Describe the scope and objectives of this epic... " id="description" class=" h-35 w-full text-[#737685] bg-surface-highest border-0  font-normal rounded-lg md:rounded-sm pt-3 px-4 mt-2 " ></textarea><br>
         <p class="text-graay font-bold  text-label-sm float-end pt-1">0 / 500 characters</p>
        </div>
 
    </div>

      <div class="grid grid-cols-2 mt-8 gap-8">
      <div >
        <label for="cars" class="text-grayText text-[11px] font-bold">Assignee</label>

<select formControlName="assignee_id" name="assignee_id" id="assignee_id" class=" text-dark-gray py-3 pr-10  bg-surface-highest border-0 w-full font-normal rounded-lg md:rounded-sm  px-4 mt-4">
    <option value="" >Select a member...</option>
    @for(m of members(); track m){
  <option value="{{m.user_id}}">{{m.metadata.name}}</option>

    }
  
</select>
 
      </div>

      <div>
        <label for="start-date" class="text-grayText text-[11px] font-bold">Deadline</label>
<input formControlName="deadline" type="date" id="start-date" name="trip-start" [min]="today" class="  text-dark-gray bg-surface-highest border-0 w-full font-normal rounded-lg md:rounded-sm  py-3 px-4 mt-4" >
      </div>
      </div>

      <div class="flex place-self-end mt-8">
        <button type="button" class="py-3 px-6 text-graay font-bold  cursor-pointer" (click)="goBack()" >Back</button>
        <button [disabled]="!createEpicForm.valid"  class="flex bg-linear-to-r from-primary to-primary-container items-center justify-center  text-[14px] font-bold rounded-sm text-white cursor-pointer  py-3 px-6 " >Create Epic</button>

      </div>
    </form>
</div>
</section>